*{margin: 0 auto;}

::placeholder{
    color: #000;
}

.theory h1 {
    text-align: center;
    font-weight: 700;
    margin: 30px 0px;
    font-family: sans-serif;
}

.arrow i {
    float: left;
    font-weight: 400;
    color: #000000;
    margin: 28.3px 15px 30px 0px;
    font-weight: 700;
}
.arrow h1 {
    font-size: 14px;
    color: #808080;
    margin: 30px 0px 30px -8px;
    float: left;
}




.img1 {
    width: 100%;
    height: 100%;
    padding: 0px 22px;
}


ul{
    padding: 0;
}

.img1 ul li {
    display: inline-block;
    background-color: #ebebeb;
    /* float: initial; */
    margin: 0px 0px 0px 9px;
    border-radius: 5px;
    text-align: center;
    width: 16%;
    border: 3px solid #80808059;
    cursor: pointer;
}



.img1 ul li:hover{
    border: 3px solid #207d2094;
}



.form.contact-height {
    height: 800px !important;
}

section.container-fluid.theory3.theory-again {
    height: 800px !important;
}



.form {
    width: 50%;
    height: 1138px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    padding-bottom: 50px;
    left: 25%;
}
.inner-form{
    margin: 5px 26px;

}
.textmrg {
    margin: 30px 0px 0px 30px;
}

.form h1 {
    font-size: 22px;
    font-weight: 700;
}


.textmrg h2 {
    font-size: 13px;
   
    font-weight: 700;
    padding: 50px 0px 4px 0px;
}



.textmrg2 {
    margin: 0px 0px 0px 30px;
    display: inline-flex;
}


.textmrg2 h2 {
    font-size: 13px;
    font-weight: 700;
    padding: 40px 0px 4px 0px;
}


.lange {
    width: 122px;
    height: 60px;
    border: 2px solid darkgray;
    border-radius: 8px;
}

.textmrg2 h3 {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

span.i {
    font-weight: 100;
}

.textmrg2 h1 {
    font-size: 15px;
    font-weight: 700;
    padding: 0px 0px 0px 0px;
    color: #808080ad;
    margin-top: 0px;
    margin: 6px 0px 8px 25px;
}

.textmrg2 h4 {
    font-size: 31px;
    color: #c5c5c5;
    margin: 7px 20px 0px 20px;
}


.drop {
    width: 72%;
    height: 126px;
    border-style: dotted;
    border-color: gray;
    border-radius: 10px;
}
.for-center {
    align-items: center;
    
}








.cbox {
    width: 13px;
    height: 30px;
    float: left;
    margin-top: 0px;
    margin-right: 10px;
    margin-top: -3px;
}
label.cbox-label {
    padding: 5px;
    margin-top: 0px;
}

span.agb {
    /* text-decoration: underline; */
    font-size: 14px;
    margin: 12px;
    color: #929191;
}




.box1 {
    width: 31%;
    height: 100px;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    margin: 4px;
}

.textmrg4 {
    display: flex;
    margin: 0px 0px 0px 30px;
}

.lbox1 {
    width: 73%;
    height: 70px;
    background-color: #fff;
    /* margin-top: 14px; */
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: -4px 5px 9px grey;
    margin: 10px;
}


.lbox2 {
    width: 73%;
    height: 76px;
    background-color: #fff;
    /* margin-top: 14px; */
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    margin: 9px;
}



.box1:hover{
    border: 2px solid #207d2094;
}

.lbox1:focus-visible {
    border: 2px solid #000;
}
.lbox1:hover{
    border: 2px solid #1a1a1a;
}


.lbox2:hover{
    border: 2px solid #1a1a1a;
}







.form4 {
    width: 90%;
    height: 200px;
    border: none;
    border: 1px solid #00000078;
    border-radius: 5px;
    margin: 5px 26px;
    font-size: 13px;
    padding: 10px;
}

.lange input {
    width: 55px;
    border: none;
    margin-left: 5px;
    height: 20px;
    font-weight: 700;
    padding-left: 5px;
}



.ankr a {
    text-decoration: none;
    width: 38%;
    height: 45px;
    border: none;
    background-color: #20c28b;
    margin: 5px 26px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    padding: 13px 62px;
}
.ankr a:hover{
    color: #fff;
    text-decoration: none;
}



.textmrg7 {
    margin: 25px 0px 0px 0px;
} 




label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 12px;
}

.theory3 {
    width: 100%;
    background-color: #f5f5f5;
    height: 1278px;
    position: relative;
    top: 192px;
    padding-bottom: 100px;
}
section.container-fluid.w5 {
    width: 100%;
    height: 500px;
    background-color: #1a1a1a;
    position: relative;
}



.logo2 {
    /* width: 100px; */
    height: 100px;
    border-radius: 100px;
    text-align: center;
}

div.number h1 {
    color: #fff;
    float: left;
    font-size: 19px;
    line-height: 40px;
    padding: 60px 0px;
    font-weight: 400;
}


.foot {
    padding: 60px 0px 60px 0px;
}


.underline{
    text-decoration: underline;
}








.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
    position: relative;
    right: 50px;
}



  
  .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  
  .dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 113px;
    width: 84%;
    border-radius: 10px;
}
  
.ii{
    margin-bottom: 10px;
}

.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    top: 25px;
    font-size: 14px;
}
  
  .dropzone,
  .dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
  }
  
  .dropzone-wrapper:hover,
  .dropzone-wrapper.dragover {
    background: #ecf0f5;
  }
  
  .preview-zone {
    text-align: center;
  }
  
  .preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
  }

  .ii img {
    height: 31px;
    /* width: 100%; */
}



@media(max-width:767px){
    .arrow {
    float: left;
}
.form {
    width: 86%;
    height: 1190px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    left: 7%;
}
.theory3 {
    width: 100%;
    background-color: #f5f5f5;
    height: 1120px;
    margin-bottom: 100px;
}
.inner-form {
    /* margin: 0px 0px 0px -18px; */
    padding: 0px 25px 0px 0px;
}
div.number h1 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    padding: 18px 0px;
    font-weight: 400;
}
.form h1 {
    font-size: 17px;
    font-weight: 700;
}
.img1 ul li {
    display: inline-block;
    background-color: #ebebeb;
    /* float: initial; */
    margin: 8px 0px 0px 9px;
    border-radius: 5px;
    text-align: center;
    width: 41%;
    border: 3px solid #80808059;
    cursor: pointer;
}
.lange {
    width: 90px;
    height: 60px;
    border: 2px solid darkgray;
    border-radius: 8px;
}
.d-flex {
    display: -ms-flexbox!important;
   
    left: 15px;
}
span.agb {
  
    font-size: 13px;
    margin: 12px;
    font-weight: 600;
}
.box1 {
    width: 28%;
    height: 100px;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    margin-right: 16px;
}
.form4 {
    width: 83%;
    height: 200px;
    border: none;
    border: 1px solid #00000078;
    border-radius: 5px;
    margin: 5px 26px;
    font-size: 13px;
}
.arrow h1 {
    font-size: 14px;
    color: #808080;
    margin: 30px 0px 30px 0px;
    float: left;
}
.arrow i {
    float: left;
    font-weight: 400;
    color: #808080;
    margin: 30px 5px 30px 13px;
}
}