*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol,
a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

section.main {
    background-color: #f5f5f5;
}

.for-first-heading-speacing {
    margin: 100px 0;
}
.simple-gallery img {
    height: 32%;
}
p.for-box-p input {
    border: none;
}
.mySlides img {
    width: 100% !important;
    margin-left: 0px;
    height: 670px;
}
.for-first-heading h1 {
    font-size: 50px;
    font-weight: 800;
}
p.for-box-p input {
    background-color: #f0f8ff00;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
    align-items: center;
    position: relative  !important;
    right: 0px  !important;
}

.for-first-heading {
    text-align: center;
}

.for-img-slider {
    padding-bottom: 15px;
    margin-left: 13px;
}

.for-img img {
    width: 100%;
}

h1.heading-h1 {
    font-size: 25px;
    font-weight: bold;
    font-family: unset;
    line-height: 3;
}

.col-5-heading {
    padding-left: 20px;
    padding-bottom: 15px;
}

ul.for-slider-ul {
    margin-top: 14px;
    margin-bottom: 0;
}

li.for-slider-li a img {
    width: 18%;
}

li.for-slider-lia a img {
    width: 18.5%;
}

li.for-slider-lib a img {
    width: 17.5%;
}

.for-border {
    margin-left: 10px;
}

.for-padding {
    padding-top: 1px;
    padding-bottom: 1px;
    background: #fff0;
    border: 0;
    border-radius: 15px;
}

.for-img {
    padding: 0 !important;
}

.imgAdd {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4bd7ef;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 20%);
    text-align: center;
    line-height: 32px !important;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px !important;
}

.for-inner-padding {
    padding-left: 10px !important;
    padding-right: 0 !important;
}

.for-css {
    margin: 0 17px;
}

.for-grob-sec {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 0px;
    padding-bottom: 25px;
    margin-left: 15px;
}

.col-for-3 {
    width: 30%;
    height: 64px;
    border: 2px solid #111;
    border-radius: 6px;
    box-shadow: 0 0 24px -15px;
}

.col-for-1 {
    padding: 20px;
    font-weight: 700;
}

p.for-box-p {
    margin: 0 !important;
    padding: 7px 18px;
    font-size: 14px;
}

p.for-box-p {
    margin: 0 !important;
    padding: 7px 18px;
}

span.for-100 {
    font-family: sans-serif;
    padding-right: 20px;
    border-right: 2px solid #dededede;
    font-size: 16px;
    font-weight: 700;
}


span.for-cm {
    padding-left: 20px;
    font-size: 16px;
}

.col-main-peers {
    align-items: flex-end;
}

p.for-box {
    font-size: 55px;
    font-weight: 800;
    font-family: revert;
    margin: 0;
}

p.for-boxab {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 25px;
    font-family: sans-serif;
}

.col-main-peers {
    margin-left: 15px;
}

.for-button {
    margin-bottom: 10px;
    margin-left: 30px;
}

.for-button button {
    background-color: #20c28b;
    border-radius: 50px;
    padding: 10px 24px;
}

.for-button button:hover {
    opacity: 0.7;
    transition: 0.3s ease;
}

div.for-button button a {
    color: #fff;
    text-decoration: none;
}

.for-last-heading-padding {
    padding: 33px;
}

.paddingaba {
    padding-top: 0;
}

.paddinga {
    padding: 40px 45px !important;
}

.for-last-heading h2 {
    font-size: 25px;
    font-weight: 700;
    color: #333;
}

.for-last-heading h6 {
    font-weight: 700;
    color: #444;
}

.for-last-heading p {
    font-size: 15px;
    font-weight: 600;
    color: #6b6b6bd9;
}


/* big slider open  */

img {
    vertical-align: middle;
}


/* Position the image container (needed to position the left and right arrows) */

.container {
    position: relative;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Add a pointer when hovering over the thumbnail images */

.cursor {
    cursor: pointer;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Six columns side by side */

.column {
    float: left;
    width: 16.66%;
}


/* Add a transparency effect for thumnbail images */

.demo {
    opacity: 0.8;
}

.for-border-radius {
    border: 4px solid rgba(151, 151, 151, 0.2);
    border-radius: 10px;
    height: 79px;
}
a.active img {
    height: 59px;
}
.sticky-price {
    position: fixed;
    background-color: #fff;
    z-index: 9999;
    right: 115px;
    padding: 13px 10px 9px 10px;
    border-radius: 15px;
    width: 140px;
    /* text-align: center; */
}
.sticky-price h3 {
    font-weight: bold;
    text-align: left;
}
img.for-box-border:active {
    border: 2px solid #20c28b  !important;
}
.active, .demo:hover {
    opacity: 1;
    border: 4px solid #20c28b !important;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}


/* big slider close  */


/* little slider open */

.simple-gallery img {
    border: 6px solid #444;
    background-color: #f3f3f3eb;
    padding: 8px;
    width: 31% !important;
    position: absolute;
    background-size: 100% 100%;
    top: 60px;
    left: 37%;
    box-shadow: -6px 5px 15px -11px;
}

.mini img {
    width: 20%;
    cursor: pointer;
    border: 3.8px solid lightgray;
    padding: 5px 13px;
    border-radius: 7px;
}

.mini img:hover {
    border: 3.8px solid #20c28b;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
}

.mini li.for-slider-lib img {
    width: 16%;
    cursor: pointer;
}

.mini li.for-slider-lic img {
    width: 18%;
    cursor: pointer;
}

.mini img:nth-of-type(4) {
    margin-right: 0px;
}

.maxi {
    display: block;
}


/* little slider close */

@media (max-width: 767px) {
    p.for-box-p {
        padding: 3px 9px;
        line-height: 25px;
    }
    .simple-gallery img {
        border: 6px solid #444;
        background-color: #f3f3f3eb;
        padding: 8px;
        /* width: 24%; */
        position: absolute;
        background-size: 100% 100%;
        top: 42px;
        left: 14%;
        box-shadow: -6px 5px 15px -11px;
    }
    .d-flex {
        display: -ms-flexbox!important;
        left: -2px  !important;
    }
    .mySlides img {
        width: 100% !important;
        margin-left: 0px;
        height: 230px;
    }
    .bg-light {
        background-color: #f8f9fa00!important;
    }
    .simple-gallery img {
        height: 117px;
        width: 46%;
        left: 29%;
        top: 39px;
    }
    .col-md-12.d-flex.for-display {
        display: block !important;
    }
    .for-first-heading-speacing {
        margin: 50px 0;
    }
    span.for-100 {
        padding-right: 7px;
    }
    span.for-cm {
        padding-left: 7px;
    }
    .for-inner-padding {
        padding-left: 0px !important;
    }
    p.for-box {
        font-size: 37px;
    }
    .col-main-peers {
        flex-direction: column !important;
        align-items: start;
    }
    .for-button {
        margin-left: 55px;
    }
    p.for-boxab {
        font-size: 17px;
        margin-bottom: -20px;
    }
    .for-col-12 {
        margin-bottom: 20px;
    }
    .for-first-heading h1 {
        font-size: 44px;
    }
    .for-grob-sec {
        margin-left: 0;
    }
    .mini li.for-slider-lib img {
        width: 17%;
    }
    .mini li.for-slider-lic img {
        width: 18.7%;
    }
}